<phpunit bootstrap="tests/boot.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Squid">
            <directory>tests/Squid</directory>
        </testsuite>
    </testsuites>
</phpunit>