<phpunit
    bootstrap="Tests/boot.php"
    beStrictAboutTestsThatDoNotTestAnything="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Source/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Squid">
            <directory>Tests/Squid</directory>
        </testsuite>
    </testsuites>
</phpunit>