/*noinspection CssUnknownTarget*/
@import "theme.css";


.wy-nav-content
{
	max-width: 100%;
}

.code 
{
	tab-size: 4;
}

.highlight 
{
	tab-size: 4;
}

h2
{
	margin-bottom: 0
}

.docutils
{
	margin: 0 0 8px;
}