/*noinspection CssUnknownTarget*/
@import "theme.css";


.wy-nav-content
{
	max-width: 100%;
}

.code 
{
	tab-size: 4;
}

.highlight 
{
	tab-size: 4;
}

table.highlighttable
{
	background-color: #fcfcfc;
}

h1
{
	font-size: 200%;
	border-bottom: 1px solid #CCCCCC;
}

h2
{
	font-size: 125%;
	border-bottom: 1px solid #CCCCCC;
}

p.rubric
{
	font-size: 125%;
	border-bottom: 1px solid #CCCCCC;
}

.docutils
{
	margin: 0 0 8px;
}